<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <td>Name</td>
                <td>{{profile.fname}} {{profile.lname}} </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{profile.email}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{profile.phone}}</td>
            </tr>
        </table>
        <a href="#/profileEdit" class="btn btn-lg btn-primary " role="button" >Edit</a>
    </div>
</div>
